
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&family=Tilt+Prism&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Special Elite', cursive;
    font-weight: bolder;
    font-style: italic;
}

/* Nav Styling */
.navbar {
    background: #B20600;
    color: white !important;
    margin-bottom: 20px;
}
.nav-btns {
    border: 1px solid white;
    margin: 10px;
    
}
.navbar-brand {
    padding: 5px;
}

.logo-img {
    height: 65px;
    width: 65px;
}

/* body and content styling */
body {
    background-image: url(https://i.postimg.cc/X79YM02w/stefano-pollio-ZC0-Ebd-LC8-G0-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
}

/* founder section styling */
.founder-section {
    margin-bottom: 20px;
    width: 80%;
    border-bottom: 2px solid #B20600;
    border-radius: 20px !important;
}
.about-heading {
    color: #B20600;
    margin-bottom: 20px;
}

.founder {
    width: 90%;
    margin-bottom: 20px;
}
.founder-text {
    color: #B20600;
    padding: 10px;
    margin: 10px;
}
.founder-img {
    padding: 10px;
    margin: 10px;
}

/* testimonials section */
.testimonial-section {
    color: #B20600;
    padding: 10px;
    margin-bottom: 20px;
    padding: 20px;
    margin-bottom: 20px;
}
.testimonial-cards {
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.card {
    background-color: transparent !important;
    color: #B20600 !important;
    border-left: 2px solid #B20600;
    border-right: 2px solid #B20600;
    border-bottom: none;
    border-top: none;
    padding: 10px;
    border-radius: 20px !important;
    margin: 20px;
}
.card-img-top {
    border-radius: 10px;
    height: 60%;
}

/* info section */
.info {
    color: #B20600;
    width: 80%;
    margin-bottom: 20px;
    padding: 10px;
    border-top: 2px solid #B20600;
    border-radius: 20px !important;
}




/* footer styling */
footer {
    background: #B20600;
    color: white;

}

.social-links {
    height: 50px;
    width: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.footer {
    display: flex;
    align-items: center;
    padding: 10px;
}

.footer-text {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.footer-p {
    padding: 5px;
}



