@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&family=Tilt+Prism&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Special Elite", cursive;
  font-weight: bolder;
  font-style: italic;
}

/* Nav Styling */
.navbar {
  background: #b20600;
  color: white !important;
  margin-bottom: 20px;
}
.nav-btns {
  border: 1px solid white;
  margin: 10px;
  --bg: #000;
  transition: 0.2s;
}

.nav-btns:hover {
  transform: translate(-0.25rem,-0.25rem);
  box-shadow: 0.25rem 0.25rem var(--bg);
  background: white !important;
  color: #b20600 !important;
  border: 2px solid white;
}

.navbar-brand {
  padding: 5px;
}

.logo-img {
  height: 65px;
  width: 65px;
}

/* body and content styling */
body {
  background-image: url(https://i.postimg.cc/X79YM02w/stefano-pollio-ZC0-Ebd-LC8-G0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}

/* founder section styling */
.founder-section {
  margin-bottom: 20px;
  width: 80%;
  border-bottom: 2px solid #b20600;
  border-radius: 20px !important;
}
.about-heading {
  color: #b20600;
  margin-bottom: 20px;
}

.founder {
  width: 90%;
  margin-bottom: 20px;
}
.founder-text {
  color: #b20600;
  padding: 10px;
  margin: 10px;
}
.founder-img {
  padding: 10px;
  margin: 10px;
}


/* testimonials section */
.testimonial-section {
  color: #b20600;
  padding: 10px;
  margin-bottom: 20px;
  padding: 20px;
  margin-bottom: 20px;
}
.testimonial-cards {
  display: flex;
  justify-content: space-between;
  margin: auto;
}
.card {
  background-color: transparent !important;
  color: #b20600 !important;
  border-left: 2px solid #b20600;
  border-right: 2px solid #b20600;
  border-bottom: none;
  border-top: none;
  padding: 10px;
  border-radius: 20px !important;
  margin: 20px;
}
.card-img-top {
  border-radius: 10px;
  height: 55%;
}

/* info section */
.info {
  color: #b20600;
  width: 80%;
  margin-bottom: 20px;
  padding: 10px;
  border-top: 2px solid #b20600;
  border-radius: 20px !important;
}

/* footer styling */
footer {
  background: #b20600;
  color: white;
}

.social-links {
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.footer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer-text {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.footer-p {
  padding: 5px;
}
