@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&family=Special+Elite&family=Tilt+Prism&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Special Elite", cursive;
  font-weight: bolder;
  font-style: italic;
}

/* Nav Styling */
.navbar {
  background: #b20600;
  color: white !important;
  margin-bottom: 20px;
}
.nav-btns,
.cart-btn,
.checkout,
.delete {
  border: 1px solid white;
  color: white;
  margin: 10px;
  --bg: #000;
  transition: 0.2s;
}
.nav-btns:hover,
.cart-btn:hover,
.checkout:hover,
.delete:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem var(--bg);
  background: white !important;
  color: #b20600 !important;
  border: 2px solid white;
}

.checkout {
  margin: 5px;
}
.navbar-brand {
  padding: 5px;
}

.logo-img {
  height: 65px;
  width: 65px;
}

.cart-img {
  height: 20px;
  width: 20px;
}

/* body and content styling */
body {
  background-image: url(https://i.postimg.cc/X79YM02w/stefano-pollio-ZC0-Ebd-LC8-G0-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  object-fit: cover;
}

.heading {
  color: #b20600;
  margin-bottom: 20px;
}
.filters {
  padding: 10px;
  margin: 10px;
}

/* card styling */

#items {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-bottom: 20px;
  padding: 20px;
  justify-content: center;
  justify-content: space-around;
}

.card {
  background-color: transparent !important;
  color: #b20600 !important;
  border-top: 2px solid #b20600;
  border-right: 2px solid #b20600;
  border-bottom: none;
  border-left: none;
  padding: 10px;
  border-radius: 20px !important;
  height: 65vh;
  margin: 10px;
}

.add-button,
.filter-buttons {
  margin: 10px;
  background: white !important;
  color: #b20600 !important;
  border-color: #b20600 !important;
  --bg: #000;
  transition: 0.2s;
}
.add-button:hover,
.filter-buttons:hover {
  transform: translate(-0.25rem, -0.25rem);
  box-shadow: 0.25rem 0.25rem var(--bg);
  background: #b20600 !important;
  color: white !important;
  border: 2px solid white;
}

.card-img-top {
  border-radius: 10px;
  height: 60%;
}

/* modal styling */
.modal-dialog,
.modal-content {
  background: #b20600;
  color: white !important;
}

.message {
  padding-right: 5px;
}
#total {
  padding-right: 5px;
}

/* footer styling */
footer {
  background: #b20600;
  color: white;
}

.social-links {
  height: 50px;
  width: 50px;
  margin-left: 5px;
  margin-right: 5px;
}

.footer {
  display: flex;
  align-items: center;
  padding: 10px;
}

.footer-text {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.footer-p {
  padding: 5px;
}

@media screen and (max-width: 699px) {
  body {
    background-image: url(https://i.postimg.cc/vDww7Jjf/pexels-antonio-dillard-4462784-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    object-fit: cover;
  }
}

@media screen and (max-width: 700px) {
  #items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 500px) {
  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
